.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.small {
    width: 1rem;
    height: 1rem;
    border-width: 2px;
}

.medium {
    width: 2rem;
    height: 2rem;
    border-width: 3px;
}

.large {
    width: 3rem;
    height: 3rem;
    border-width: 4px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}